<header id="admin-header" style="margin:0 auto; text-align:center">
<nav>
<span><a href="/admin">Inicio |</a></span>
<span><a href="/courses">Cursos |</a></span>
<span><a href="/titles">Títulos |</a></span>
<span><a href="/logout">Salir</a></span>
</nav>
<h1 style="text-align:center">Panel de administración</h1>
</header>